<div class="banner" style="background-image: url('http://www.grazia.fr/var/grazia/storage/images/cuisine/food-addict/galeries/photos-un-peu-de-foodporn-en-attendant-le-dejeuner-673184/11706856-1-fre-FR/Photos-un-peu-de-foodporn-en-attendant-le-dejeuner.jpg');">
  <div class='banner-content text-left form'>
    <%= render 'simple_form'%>
  </div>
</div>
